# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react-app/default-react-app/node_modules
react-app/my-first-react-app/node_modules
react-app/basic_redux_example/node_modules
react-app/2.barebones-react-app/node_modules
simple-web-server/node_modules
default-react-app/node_modules
my-first-react-app/node_modules
basic_redux_example/node_modules
2.barebones-react-app/node_modules
default-react-app/.pnp
default-react-app/.pnp.js
my-first-react-app/.pnp
my-first-react-app/.pnp.js
2.barebones-react-app/.pnp
2.barebones-react-app/.pnp.js

# testing
default-react-app/coverage
my-first-react-app/coverage
basic_redux_example/coverage
2.barebones-react-app/coverage

# production
default-react-app/build
my-first-react-app/build
basic_redux_example/build
2.barebones-react-app/build

# misc
default-react-app/.DS_Store
default-react-app/.env.local
default-react-app/.env.development.local
default-react-app/.env.test.local
default-react-app/.env.production.local
my-first-react-app/.DS_Store
my-first-react-app/.env.local
my-first-react-app/.env.development.local
my-first-react-app/.env.test.local
my-first-react-app/.env.production.local
basic_redux_example/.DS_Store
basic_redux_example/.env.local
basic_redux_example/.env.development.local
basic_redux_example/.env.test.local
basic_redux_example/.env.production.local
2.barebones-react-app/.DS_Store
2.barebones-react-app/.env.local
2.barebones-react-app/.env.development.local
2.barebones-react-app/.env.test.local
2.barebones-react-app/.env.production.local

default-react-app/npm-debug.log*
default-react-app/yarn-debug.log*
default-react-app/yarn-error.log*
my-first-react-app/npm-debug.log*
my-first-react-app/yarn-debug.log*
my-first-react-app/yarn-error.log*
basic_redux_example/npm-debug.log*
basic_redux_example/yarn-debug.log*
basic_redux_example/yarn-error.log*
2.barebones-react-app/npm-debug.log*
2.barebones-react-app/yarn-debug.log*
2.barebones-react-app/yarn-error.log*