# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react-app/default-react-app/node_modules
react-app/my-first-react-app/node_modules
react-app/my-second-react-app/node_modules
react-app/paint-using-hooks/node_modules
simple-web-server/node_modules
default-react-app/node_modules
my-first-react-app/node_modules
my-second-react-app/node_modules
paint-using-hooks/node_modules
default-react-app/.pnp
default-react-app/.pnp.js
my-first-react-app/.pnp
my-first-react-app/.pnp.js
paint-using-hooks/.pnp
paint-using-hooks/.pnp.js

# testing
default-react-app/coverage
my-first-react-app/coverage
my-second-react-app/coverage
paint-using-hooks/coverage

# production
default-react-app/build
my-first-react-app/build
my-second-react-app/build
paint-using-hooks/build

# misc
default-react-app/.DS_Store
default-react-app/.env.local
default-react-app/.env.development.local
default-react-app/.env.test.local
default-react-app/.env.production.local
my-first-react-app/.DS_Store
my-first-react-app/.env.local
my-first-react-app/.env.development.local
my-first-react-app/.env.test.local
my-first-react-app/.env.production.local
my-second-react-app/.DS_Store
my-second-react-app/.env.local
my-second-react-app/.env.development.local
my-second-react-app/.env.test.local
my-second-react-app/.env.production.local
paint-using-hooks/.DS_Store
paint-using-hooks/.env.local
paint-using-hooks/.env.development.local
paint-using-hooks/.env.test.local
paint-using-hooks/.env.production.local

default-react-app/npm-debug.log*
default-react-app/yarn-debug.log*
default-react-app/yarn-error.log*
my-first-react-app/npm-debug.log*
my-first-react-app/yarn-debug.log*
my-first-react-app/yarn-error.log*
my-second-react-app/npm-debug.log*
my-second-react-app/yarn-debug.log*
my-second-react-app/yarn-error.log*
2. barebones-react-app/package-lock.json